
/* Wrapper margins so rows don't touch */
#header-group-wrapper.without-preface-top #header-group-inner,
.postscript-bottom-wrapper {
  margin-bottom: 1.5em;
}

/* Form inputs */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none !important;
}

#slideshow {
	margin-bottom: 1.5em;
}