/* $Id: local-sample.css,v 1.2 2010/07/02 23:14:21 eternalistic Exp $ */

/****************************/
/* LOCAL CSS                */
/****************************/

/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */

/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */

h1,h2,h3 {
	font-weight: bold;
}
#header-site-info-inner {
	/*padding-top: 30px;*/
	padding-top: 22px;
	padding-bottom: 16px;
}
#site-name-wrapper {
	margin-top: 7px;
	margin-left: 10px;
}
#footer-message-wrapper {
	margin: 0;
	padding: 0;
}

.separator {
	font-size: 125%;
}

.block-small-margin {
	margin-bottom: 0.25em;
}
.block-small-margin .content {
	margin-bottom: 0;
}

/* Round some corners */
#header-site-info #header-site-info-inner, #preface-top-inner .slide {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;	
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;	
}
/* Home page slideshow */
#preface-top {
	margin-top: 0.5em;
	margin-bottom: 0;
}
#preface-top .content {
	margin-bottom: 0;
}
#preface-top-inner .slide {
	width: 940px;
	height: 255px;
	background-repeat: no-repeat;
	background-position: top left;
	background-color: transparent;
	display: none;
}
#preface-top-inner .slide-first {
	display: block;
}
#preface-top .preface-top-inner .inner {
	padding: 0;
	margin: 0;
}

/* design changes 11-10-10 */
#header-group-wrapper {
	padding-top: 20px;
}

#primary-menu ul.menu li a:link, #primary-menu ul.menu li a:visited {
	color: #3399ff; /* old color of blue #3399ff; */
}
#primary-menu ul.menu li a:hover, #primary-menu ul.menu li:hover a, 
#primary-menu ul.menu li.hover a, #primary-menu ul.menu li.active-trail  a:link, 
#primary-menu ul.menu li.active-trail a:visited {
	color: #ffffff;
}

#header-site-info.with-preface-top {
	margin-bottom: 0;
}

#site-name {
	font-size: 210%;
	
}
#logo {
	margin: 0 0 0 19px;
}
#site-name a, #site-name a:link, #site-name a:visited, #site-name a:hover, #site-name a:active {
	/* color: #0080FF; */
	color: #036dd6;
	text-shadow: #999999 2px 2px 2px;
}
/* all make the text look awful 
#site-name {
	filter: Shadow(Color=#999999, Direction=120, Strength=4);
	filter: dropshadow(color=#999999,offX=2,offY=2);
	filter: progid:DXImageTransform.Microsoft.dropShadow(color=#999999,offX=5,offY=5, positive=true);
}
*/

/* funky fusion/slate style that shouldn't have to be overridden... remove in next release */
.layout-first-main .content-inner-inner {
	padding: 0 20px;
}

.faq-question a, .faq-question a:link, .faq-question a:hover, .faq-question a:focus, .faq-question a:active {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 115%;
}

#block-views-latest_news-block_1 .view-footer {
	margin-top: 0.5em;
}

.block .content {
	margin-bottom: 0;
}

div.content-messages div.messages, div.content-help div.help {
	margin-bottom: 0;
}

/* New fusion/skinr fixes */
.block.dark-transparent-background {
	margin-left: 0;
	margin-bottom: 1.5em;
}

.dark-transparent-background .inner {
	min-height: 0;
}



/* kill extra footer space */
#block-menu-secondary-links, #block-block-8 {
	margin-bottom: 0;
}

/* COURSE PAGES CSS */
#content-content .node-type-course {
	font-size: 175%; /* makes p, ul, h1, h2, h3 all bigger. started 135% */
}

#content-content .node-type-course .book-navigation, 
#content-content .node-type-course .links .links-inner {
	font-size: 85%;
	font-weight: bold;
}
body.node-type-course h1.title {
	font-size: 100%;
	color: #F0F0F0; 
}
#content-content .node-type-course h2, #content-content .node-type-course h3 {
	color: #DFB77C;
}
#content-content .node-type-course .rteindent1 {
	margin: 1em auto;
	width: 75%;
}
#content-content .node-type-course .content ul li {
	margin-bottom: 1em;
}
#content-content .node-type-course .content p {
	line-height: 130%;
}

span.button a {
 text-decoration: none;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	padding: 6px 3px;
}

span.button a:hover {

}

.button-wrapper-center {
	display: block;
	text-align: center;
	margin: 0 auto;
}


/* CHECKOUT STYLES */
.order-review-table .pane-title-row, .order-review-table .review-button-row {
	background: none;
}
#payment_details {
	border: none;
	padding: 0;
}	

#customer-pane fieldset {
	border: 0;
	padding-left: 0;
	padding-bottom: 0;
}




/* PROFILE, ETC */
div.content-profile-display {
	border: none;
	margin: 1em 0;
	padding: 0;
}

.ubercart-throbber {
	display: none !important;
}

table.order-pane-table thead, table.order-pane-table thead th, .order-pane thead  {
	background: none;
}


